* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 100px;
}

nav img {
    margin-left: 90px;
    padding: 10px 170px 0 0;
}

nav ul {
    display: inline-flex;
    font-size: 1em;
    color: #554454;
   
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 40px 20px 20px 20px;
}

.dropdown i {
    padding-left: 6px;
}

.dropdown {
    position: relative;
}

.dropdown-content1, .dropdown-content2 {
    display: none;
    margin-top: 30px;
    position: absolute;
    align-items: center;
    background-color: #621148;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 1em;
    padding: 15px;
} 

.dropdown-content1 a, .dropdown-content2 a {
   color: #fff;
   padding: 15px 10px;
   text-decoration: none;
   display: block;
}

.dropdown-content1 a:hover, .dropdown-content2 a:hover {
    display: block;
 }
 
.dropdown:hover, .dropdown-content2:hover {
    display: block;
    cursor: pointer;
}

.right-border {
    border-right: 2px solid #621148;
    height: 22px;
    margin-top: 40px;
    padding-left: 15px;
    
}

.features {
    padding: 13px 23px 13px 23px;
    background-color: transparent;
    background-image: linear-gradient(120deg,rgba(255,105,0,1) 0%,rgb(181,62,118) 100%);
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
    border: 2px solid transparent;
    border-radius: 25px;
    color: #fff;
    margin-top: -20px;
    font-size: 0.75em;
    width: 180px;
    margin-left: 6px;
}

.features:hover {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.ellipsis {
    color: #b03b88;
    margin-top: 30px;
    font-size: 3em;
}

.hero {
    display: flex;
    margin-top: 220px;
    
}

.hero-text {
    width: 600px;
    margin-left: 70px;
}

.hero-text h1 {
    font-size: 3.4em;
    background: linear-gradient(to right, #AC3282 0%,red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph {
    color: #8b3c71;
    font-size: 1em;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.flex-button {
    display: flex;
    padding-top: 30px;
}

.switch {
    background-color: #7c225e;
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 5px;
    width: 190px;
    height: 43px;
    color: #fff;
    font-size: 1.02em;
    margin-right: 40px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.switch:hover {
background-color: #F7951F;
}


.youtube {
    border: 2px solid transparent;
    color: #b03d89;
    background-color: transparent;
}

.youtube-icon {
    color: #f32323;
    font-size: 2.5em;
    padding-right: 10px;
}

.license {
    margin-left: -50px;
    padding-top: 15px;
    z-index: 1;
}

.hero-images img {
    margin-left: -35px;
    z-index: -1;
}

/*
.ellipsis-icon {
    float: right;
    display: block;
    color: #AC3282;
    margin-top: -20px;
}
*/

.container-two {
    display: flex;
    margin-top: 350px;
    background-color: #fef3f4;
    border-radius: 25px;
    width: 1293px;
    height: 550px;
    margin-left: 25px;
}

.second-image {
    margin-top: -120px;
    margin-left: 60px;
}

.flex-icons1 {
    margin-left: 50px;
    margin-top: 20px;
}

.icons-section h2 {
    color: #ed465c;
    font-size: 1.8em;
    padding: 30px 0px 20px 0px;
    margin-left: 80px;
}

.icons-section p {
    color: #621148;
    font-size: 1em;
    margin-left: 80px;
}

.buttons-and-icons {
    display: flex;
    margin-top: 75px;
    margin-left: 80px;
}

.feature {
    background-color: #621148;
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 5px;
    width: 135px;
    height: 42px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 60px;
}

.feature:hover {
background-color: #F7951F;
}

.googleplay2 {
    margin-left: 20px;
}




.container-three {
    display: flex;
    margin-top: 180px;
}

.section-texts {
    width: 450px;
    padding-left: 150px;
    color: #7c225e;
    margin-top: 30px;
    margin-right: 25px;
}

.section-texts h2 {
    font-size: 2em;
    padding-bottom: 25px;
}

.section-texts p {
    font-size: 1em;
    padding-bottom: 10px;
}

.section-texts button {
        background-color: #7c225e;
        box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
        border-radius: 25px;
        border: 2px solid transparent;
        padding: 5px;
        width: 130px;
        height: 43px;
        color: #fff;
        font-size: 0.9em;
        cursor: pointer;
}

.section-images {
    margin-top: -20px;
}

.container-four {
    display: flex;
    margin-top: 30px;
}

.section-four-texts {
    width: 320px;
    margin-left: 60px;
    margin-top: 170px;
}

.section-four-texts h2 {
    color: #b03d89;
    font-size: 1.7em;
    padding-bottom: 25px;
    font-weight: 600;
}

.dot {
    font-size: 0.5em;
}

.section-four-texts p {
    color: #7c225e;
    font-size: 1em;
    padding-bottom: 40px;
    
}

.button-and-icons {
    display: flex;
}

.appstore {
    margin-right: 20px;
}
.section-four-images {
    display: flex;
    vertical-align: middle;
}

.image-two {
    margin-top: 170px;
    margin-left: 40px;
}

.container-five {
    display: flex;
}

.section-five-texts {
    margin-left: 70px;
    margin-top: 40px;
}

.section-five-texts h2 {
    color: #7c225e;
    font-size: 1.6em;
    padding-bottom: 20px;
    width: 500px;
    font-weight: 600;
}

.section-five-texts p {
    color: #7c225e;
    font-size: 1em;
    padding-bottom: 40px;
}

.section-five-image {
    background-color: #fef3f4;
    margin-top: -24px;
    margin-left: 100px;
    width: 700px;
    text-align: center;
}

.container-six {
    display: flex;
}

.section-six-images {
    background-color: #fef3f4;
    width: 596px;
    padding-left: 70px;
    padding-top: 40px;
}

.section-six-texts {
    margin-top: 80px;
    margin-left: 90px;
}

.section-six-texts h2, .section-seven-texts h2 {
    color: #7c225e;
    font-size: 1.8em;
    padding-bottom: 20px;
    font-weight: 600;
}

.section-six-texts p, .section-seven-texts p {
    color: #7c225e;
    font-size: 0.95em;
    padding-bottom: 30px;
}

.section-six-texts h4 {
    color: #b03d89;
    font-size: 0.95em;
    padding-top: 10px;
}

.container-seven {
    display: flex;
}

.section-seven-texts {
    margin-top: 110px;
    margin-left: 80px;
    margin-right: 30px;
}

.section-seven-texts button {
    background-color: #7c225e;
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 5px;
    width: 170px;
    height: 43px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
}

.container-eight {
    background-color: #fef3f4;
    margin-left: 140px;
    padding-top: 80px;
    padding-left: 250px;
    height: 570px;
}

.container-eight h2 {
    color: #7c225e;
    font-size: 1.9em;
    padding-bottom: 20px;
}

.container-eight p{
    color: #7c225e;
    font-size: 1.2em;
    font-weight: 300px;
}

.apps {
    display: flex;
    margin-top: 60px;
}

.apps2 {
    display: flex;
    margin-left: -328px;
    margin-top: 15px;
}

.vapp, .whatsapp, .fourth {
    display: flex;
}

.vapp-text img {
    margin-top: 10px;
}



.image1 {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 7px;
    padding: 12px;
    margin-right: 8px;
    height: 50px;
    box-shadow: 0px 0px 6px 0px rgba(122.99999999999997, 117.91956521739128, 117.91956521739);
}

.debit-card {
    margin-left: 100px;
}

.text {
    padding-right: 20px;
}



.whatsapp-icon{
    background-color: #26cb40;
    height: 50px;
    width: 85px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 7px;
    vertical-align: middle;
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
}

.whatsapp-icon img {
    margin-top: -8px;
}

.whatsapp-text img {
    margin-top: -22px;
}

.fourth {
    margin-left: 70px;
}

.ussd {
    margin-right: 40px;
}

.videos {
     margin-left: 470px;
     margin-top: 120px;
}

.videos p {
    color: #000;
}


.container-ten {
    background-color: #f8f8f8;
    display: flex;
    padding-top: 50px;
    
}

.section-ten-text {
    padding-top: 20px;
    padding-left: 120px;
}

.section-ten-text h1 {
    font-size: 2.4em;
    padding-bottom: 20px;
}

.section-ten-text button {
    background-color: #ed465c;
        box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
        border-radius: 25px;
        border: 2px solid transparent;
        padding: 5px;
        width: 155px;
        height: 50px;
        color: #fff;
        font-size: 0.9em;
        cursor: pointer;
        margin-top: 20px;
}

.section-ten-text button:hover {
    background-color: #F7951F;
}

.section-ten-image {
    margin-left: 100px;
}

.container-eleven {
    background-image: linear-gradient(120deg,rgb(181,62,118) 30%,rgba(246,147,33,255) 70%);
    height: 300px;
    padding-left: 160px;
    padding-top: 50px;
    color: #fff;
}

.container-eleven h2 {
    font-size: 2em;
    padding-bottom: 20px;
}

.container-eleven ul {
    display: inline-flex;
}

.container-eleven li {
    list-style-type: none;
    font-size: 1.8em;
    padding-right: 40px;

}

.container-eleven input {
    padding: 20px;
    width: 680px;
    border: 2px solid transparent;
    border-radius: 3px;
    margin-top: 20px;
}

::placeholder {
    color: #969696;
    font-size: 1.2em;
}

.container-eleven input:focus {
    border: none;
    outline: none;
}

.container-eleven button {
    background-color: #7c225e;
    box-shadow: 0px 7px 10px 0px rgba(125, 124, 124, 0.2);
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 5px;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    margin-left: -170px;

}

.container-eleven button:hover {
    background-color: #F7951F;;
}

.container-twelve {
    background-color: #F8F8F8;
    font-size: 0.9em;
    padding-top: 40px;
    padding-left: 180px;
    height: 500px;
}

.columns {
    display: flex;
    padding-bottom: 60px;
}

.column1 li, .column2 li, .column3 li, .column4 li {
    list-style-type: none;
    padding-right: 160px;
    color: #969696;
    line-height: 30px;
    cursor: pointer;
}

.address {
    color: #969696;
    padding-bottom: 50px;
}

.policy {
    color: #54595F;
    font-weight: 800px;
    cursor: pointer;
}

.policy a {
    color: #9c2066;
    text-decoration: none;
}
.speech-bubble {
    background-color: #9c2066;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    top: 88%;
    bottom: 50%;
    right: 2%;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
    border-radius: 34px 8px 34px 34px;
    position: fixed;
}

.speech-bubble svg {
    margin-top: 20px;
}